
@{
    ViewBag.Title = "Add Pay Slip Head";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<form id="frmAddPaySlipHead" class="form-horizontal">
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-11" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">
        <div role="content">
            <div class="widget-body no-padding">
                <div class="tab-content padding-10">
                    <div class="tab-pane fade in active" id="hr1">
                        <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-left">Pay Slip Head Code<span class="red clsStar"><sub>*</sub></span></label>
                                    <div class="col-md-8">
                                        <input type="hidden" name="IFLAG" value="I" />
                                        <input type="hidden" name="HEADID" id="HEADID">
                                        <input class="form-control clsreq" autocomplete="off" placeholder="Enter Pay Slip Head Code" maxlength="20" type="text" name="HEADCODE" id="HEADCODE">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-left">Description <span class="red clsStar"><sub>*</sub></span></label>
                                    <div class="col-md-8">
                                        <textarea class="form-control clsreq" autocomplete="off" placeholder="Enter Description" type="text" name="DESC" id="DESC"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-left">Head Type <span class="red clsStar"><sub>*</sub></span></label>
                                    <div class="col-md-8">
                                        <input class="width-100 no-padding select2 clsreq" autocomplete="off" placeholder="Select Head Type" type="hidden" name="TRANSACTIONTYPEID" id="TRANSACTIONTYPEID">
                                    </div>
                                </div> 
                            </fieldset>
                        </article>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-footer">
        <a id="btnCancel" class="btn btn-xs btn-default" href="/PaySlipHead/PaySlipHeadDtl">
            <i class="fa fa-times"></i>
            Cancel
        </a>&nbsp;
        <button id="btnSave" class="btn btn-primary btn-xs pull-right" type="button" onclick="onPaySlipHeadSave()">
            <i class="fa fa-save"></i>
            Submit
        </button>
    </div>
</form>


<script src="~/js/libs/jquery-2.1.1.min.js"></script>
<script src="~/js/libs/jquery-ui-1.10.3.min.js"></script>
<link href="~/css/select2.min.css" rel="stylesheet" />
<script src="~/js/plugin/select2/select2.min.js"></script>
<script type="text/javascript">

    (function ($) {
        $(".breadcrumb").html('<li id="breadcrumb1">Add Pay slip Head</li>');

        $("#TRANSACTIONTYPEID").select2({
            multiple: false,
            allowClear: true,
            ajax: {
                cache: true,
                url: "/CommonLibrary/_StatusMaster",
                dataType: 'json',
                quietMillis: 100,
                data: function (term) {
                    return {
                        TypeId: 3,
                        StatusId: 0,
                        description:term
                    };
                },
                results: function (data) {
                    return { results: data };
                }
            }
        }).on('change', function () {

        });
    }(jQuery));

    function onPaySlipHeadSave() {
        PaySlipHeadSave('frmAddPaySlipHead', 'PaySlipHead', 'AddPaySlipHead');
    }

    function PaySlipHeadSave(FORMID, Controller, Action) {
        //loading for Trans Save button
        var TransSaveBtnID = "btnSave";

        $('#' + TransSaveBtnID).attr('disabled', true);
        var validate = true;
        $('#' + FORMID + ' .clsreq').each(function () {
            if ($(this).hasClass("select2")) {
                var message = $(this).siblings('input:hidden').attr('placeholder');
                var val = $(this).select2("val");
                if (val == "" || val == null || val == 0) {
                    validate = false;
                    $(this).find('.select2-choice').addClass('clsShowWarning');
                    $(this).select2("focus", "val");
                    $('#' + TransSaveBtnID).attr('disabled', false);
                    $.c9Message(message, "Warning", "W");
                    return false;
                }
            } else if ($(this).hasClass("select")) {
                var message = $(this).attr('data-placeholder');
                var val = $(this).val();
                if (val == "" || val == null || val == 0) {
                    validate = false;
                    $(this).addClass('clsShowWarning');
                    $(this).focus();
                    $('#' + TransSaveBtnID).attr('disabled', false);
                    $.c9Message(message, "Warning", "W");
                    return false;
                }
            }
            else {
                var focus = $(this).attr('data-focus');
                var message = $(this).attr('placeholder') == undefined || $(this).attr('placeholder') == null ? $(this).attr('data-placeholder') : $(this).attr('placeholder');
                var val = $(this).hasClass("textarea") ? $(this).text().trim() : $(this).val() == "" || $(this).val() == null ? $(this).val() : $(this).val().trim();
                if (val == "" || val == 0 || val == null) {
                    validate = false;
                    if (typeof focus === "undefined" || focus === null) {
                        $(this).focus();
                    }
                    $(this).addClass('clsShowWarning');
                    $('#' + TransSaveBtnID).attr('disabled', false);
                    $.c9Message(message, "Warning", "W");
                    return false;
                }
            }
        });

        if (validate) {
            $('#' + TransSaveBtnID).attr("disabled", true);

            var serializedData = $("#" + FORMID).serialize();
            var url = "/" + Controller + "/" + Action + "/";
            $.post(url, serializedData, function (res) {
                var errid = res.ResultId;
                var errmsg = res.Message;
                var TITLE = res.Title;
                var TYPE = res.Type;
                if (errid > 0) {

                    $.c9Message(errmsg, TITLE, TYPE);
                    window.location = $('#btnCancel').attr('href');
                } else {
                    $('#' + TransSaveBtnID).attr('disabled', false);
                    $.c9Message(errmsg, TITLE, TYPE);
                }
            });
        }
    }

</script>

