
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/libs/jquery-2.1.1.min.js"></script>
<script src="~/js/libs/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript">

    (function ($) {
        $(".breadcrumb").html('<li id="breadcrumb1">Home</li>');
    }(jQuery));
     

</script>

 