@model List<DataModel.Company.Company>
@{
	ViewBag.Title = "Company Details";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="col-sm-12">
	<div class="well well-light">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-sm-3">
					<div class="well well-sm bg-color-teal txt-color-white text-center">
						<h5>@item.COMPCODE : @item.COMPNAME</h5>
							<a href="/Home/Index?Id=@item.COMPID" class="btn btn-sm btn-success">Continue with this company</a>
							<a href="/Company/Edit/@item.COMPID" class="btn btn-sm btn-warning" data-original-title="Edit company details">
								<span class="fa fa-pencil"> Edit</span>
							</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<script src="~/js/libs/jquery-2.1.1.min.js"></script>
<script src="~/js/ProjectCommon.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$(".breadcrumb").html('<li id="breadcrumb1" class="text-right">Company Details : <a href="/Company/Add" class="btn btn-default btn-xs">Add Company</a></li>');
	});
</script>